<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Architector.Visa.InfiniiVision1000X.Browser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Architector.Visa.InfiniiVision1000X.Browser.Properties.Settings>
            <setting name="ConnectForm_Location" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="ConnectForm_AddressComboBox_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorForm_ClientSize" serializeAs="String">
                <value>320, 240</value>
            </setting>
            <setting name="Program_SettingsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainForm_Location" serializeAs="String">
                <value>40, 40</value>
            </setting>
            <setting name="MainForm_ClientSize" serializeAs="String">
                <value>960, 640</value>
            </setting>
            <setting name="Program_FilePath" serializeAs="String">
                <value />
            </setting>
        </Architector.Visa.InfiniiVision1000X.Browser.Properties.Settings>
    </userSettings>
</configuration>